:root{
    --corPrincipal: #00a0b0;
    --BrancoPadrao: #fff;
    --corAside: #004853;
    --fontPadrao: system-ui;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------- Body Content ------------------ */
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'A A' 
        'B C' 
        'D D';
    gap: 5px;
    padding: 5px;
    grid-template-columns: 85vw auto;
    grid-template-rows: 60px auto 15vh;
}

/* -------------------- header ------------------ */

header{

    background-color: var(--corPrincipal);
    grid-area: A;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo{
    width: 5%;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.nav-list span{
    color: var(--BrancoPadrao);
    font-family: var(--fontPadrao);
    font-weight: bold;

}



/* -------------------- Main------------------ */

main{
    background-color: var(--BrancoPadrao);
    grid-area: B;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cards{
    width: 100%;
    height: 40%;
    border: 1px solid #ccc;
    display: flex;
    gap: 100px;
    justify-content: center;

}

.card{
    width: 150px;
    height: 75px;
    border: 1px solid #ccc;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-family: var(--fontPadrao);
    box-shadow: 0 0 5px 5px #ccc;
}

.card p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card p img{
    margin-right: 10px;
}

.despesas{
    color: red;

}

.entrada{
    color: green;


}

.expense{
    background-color: firebrick;
    color: #fff;
}

.more{
    background-color: green;
    color: #fff;
}

.info{
    width: 100%;
    height: 60%;
    border: 1px solid #ccc;
}


/* -------------------- Aside ------------------ */

aside{

    background-color: var(--corAside);
    grid-area: C;
}


/* -------------------- Footer ------------------ */

footer{

    background-color: var(--corPrincipal);
    grid-area: D;
}

